/* Estilos estandarizados para el Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #000; /* Fondo negro sólido para todas las páginas */
    width: 100%;
    z-index: 1000;
}

.logo {
    font-weight: 800;
    font-size: 1.5rem;
    letter-spacing: 2px;
    color: #fff;
}

.nav-links {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 0.9rem;
    text-transform: uppercase;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #D4AF37; /* Dorado */
}